<template>
<div class="upload-component">
  <button id="show-modal" @click="showModal = true">Upload files</button>
  <modal v-if="showModal" @close="closeModal">
    <upload-file 
        slot="body" 
        id="myVueDropzone"
        :vanillaOptions="this.options"
        :maxNumberOfFiles="this.maxNumberOfFiles"
        v-on:vdropzone-success="success">
    </upload-file>
  </modal>
</div>
</template>

<script>
import UploadFile from './components/UploadFile.vue';
import Modal from './components/Modal.vue';

export default {
  name: 'vv-upload',
  props: {
    folder: {
      type: String,
      default: '',
    },
    maxNumberOfFiles: {
      type: Number,
      default: 100,
    }
  },
  components: {
    Modal,
    UploadFile,
  },
  data() {
    return {
      showModal: false,
    };
  },
  methods: {
    success: (file) => {
    },
    closeModal() {
      location.reload();
    },
  },
  computed: {
    options() {
      return {
        folder: this.folder
      }
    },
  }
};
</script>

<style scoped>
.upload-component {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}
</style>
